<!DOCTYPE html>
<html ng-app="d2h_App" ng-app lang="ca">
<head>
    <meta charset="utf-8">

    <link href="../external/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../external/angular-ui/ui-select-0.13.2/dist/select.min.css" rel="stylesheet">
    <style type="text/css">
    a {cursor: pointer;}
    span.glyphicon.d2h_sortActivated {color:red}
    label {font-weight:	normal;} /* remove font-weight:bold form Bootstrap */
    /**
     * [ng-cloak] is used to prevent show templates, see:
     * https://docs.angularjs.org/api/ng/directive/ngCloak
     */
    [ng-cloak] {  display: none !important; }
    .red {color:red}
    
    /**
     * Validations colors
    .ng-invalid.ng-dirty {
        border-color: red
    }
    .ng-valid.ng-dirty {
        border-color: green
    }
     */
    
    </style>
    <script src="../external/angular-1.4.8/angular.min.js"></script>
    <script src="../external/angular-1.4.8/angular-sanitize.min.js"></script>
    <script src="../external/angular-1.4.8/i18n/angular-locale_ca.js"></script>
    <script src="../external/angular-ui/ui-bootstrap-tpls-1.0.3.min.js"></script>
    <script src="../external/angular-ui/ui-select-0.13.2/dist/select.min.js"></script>
    <script>
        var d2h_App = angular.module('d2h_App', ['ui.bootstrap', 'ngSanitize', 'ui.select']);
        var d2h_local = {};
    </script>

    <title>Simple Datagrid with search, sort and paging using AngularJS, PHP, MySQL</title>
</head>
<body>
    <div class="container">
    
<!-- START "../code/templates/angular1/tables/paged.html.php" [[ -->
<!-- ======================================== -->

<div ng-controller="d2h_1">

<!-- START "../code/templates/angular1/forms/filter.html.php" [[ -->
<!-- ======================================== -->

<div class="row" ng-controller="d2h_6">
    <form name="d2h_6" class="simple-form" xx-class="form-horizontal"  novalidate>
    <div>
        <div class="col-md-3">$$Filter:
            <input type="text" placeholder="Filter" 
                class="form-control" 
                ng-model="search"
                required
            />
        </div>
        
<!-- START "../code/templates/angular1/forms/layouts/inline.html.php" [[ -->
<!-- ======================================== -->

<label class="col-md-3 form-group" 
    ng-class="{'has-error': d2h_6.d2h_7.$invalid}"
>Compte:

<!-- START "../code/templates/angular1/forms/inputs/ui-select.html.php" [[ -->
<!-- ======================================== -->

<ui-select
    ng-controller="d2h_7"
    ng-model="d2h_filter.account_uf_id_EQ" 
    name="d2h_7"
    theme="bootstrap"
    ng-change="changed()"
    required
>   <ui-select-match
        allow-clear="true"
        placeholder="Compte"
    >{{$select.selected.text}}</ui-select-match>
    <ui-select-choices 
        repeat="item.value as item in data | filter: {text: $select.search}">
        <span ng-bind-html="item.text | highlight: $select.search"></span>
    </ui-select-choices>
</ui-select>

<!-- END  "../code/templates/angular1/forms/inputs/ui-select.html.php" ]] -->

</label>

<!-- END  "../code/templates/angular1/forms/layouts/inline.html.php" ]] -->

<!-- START "../code/templates/angular1/forms/layouts/inline.html.php" [[ -->
<!-- ======================================== -->

<label class="col-md-3 form-group" 
    ng-class="{'has-error': d2h_6.d2h_8.$invalid}"
>Descripció:

<!-- START "../code/templates/angular1/forms/inputs/text.html.php" [[ -->
<!-- ======================================== -->

<input type="text" class="form-control" 
    ng-model="d2h_filter.description_LK"
    ng-change="changed()"
    ng-model-options="{ debounce: 500 }"
    placeholder="Descripció"
    name="d2h_8"
    required
>

<!-- END  "../code/templates/angular1/forms/inputs/text.html.php" ]] -->

</label>

<!-- END  "../code/templates/angular1/forms/layouts/inline.html.php" ]] -->

        <span class="col-md-1 form-group">
            <br>
            <button class="btn btn-default"
                title="$$Clear filter"
                ng-click="clear()"
            >
                <span class="glyphicon glyphicon-remove"
                    aria-hidden="true"></span>
                <!-- span class="hidden-xs hidden-sm">$$Clear filter</span -->
            </button>
        </span>
    </div>
    </form>
    <div>$$Vallid {{d2h_6.$valid}}</div>
</div>

<!-- END  "../code/templates/angular1/forms/filter.html.php" ]] -->

<div class="row">
    <div class="col-md-12" id="d2h_1">
        <h3>Diners</h3>
        <table class="table table-striped table-bordered">
            <thead><tr>
                
<!-- START "../code/templates/angular1/tables/heads/sortable.html.php" [[ -->
<!-- ======================================== -->

<th>Data <a
    title="ordre creixent"
    ng-click="sortBy('ts', false);"><span
    aria-label="ordre creixent" aria-hidden="true"
    ng-class="{d2h_sortActivated: predicate=='ts' && !reverse}"
    class="glyphicon glyphicon-sort-by-alphabet"></span></a><a
    title="ordre invers"
    ng-click="sortBy('ts', true);"><span
    aria-label="ordre invers" aria-hidden="true"
    ng-class="{d2h_sortActivated: predicate=='ts' && reverse}"
    aria-hidden="true"
    class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a></th>

<!-- END  "../code/templates/angular1/tables/heads/sortable.html.php" ]] -->

<!-- START "../code/templates/angular1/tables/heads/sortable.html.php" [[ -->
<!-- ======================================== -->

<th>Usuari <a
    title="ordre creixent"
    ng-click="sortBy('d2h_1_default', false);"><span
    aria-label="ordre creixent" aria-hidden="true"
    ng-class="{d2h_sortActivated: predicate=='d2h_1_default' && !reverse}"
    class="glyphicon glyphicon-sort-by-alphabet"></span></a><a
    title="ordre invers"
    ng-click="sortBy('d2h_1_default', true);"><span
    aria-label="ordre invers" aria-hidden="true"
    ng-class="{d2h_sortActivated: predicate=='d2h_1_default' && reverse}"
    aria-hidden="true"
    class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a></th>

<!-- END  "../code/templates/angular1/tables/heads/sortable.html.php" ]] -->

<!-- START "../code/templates/angular1/tables/heads/sortable.html.php" [[ -->
<!-- ======================================== -->

<th>d2h_2_default <a
    title="ordre creixent"
    ng-click="sortBy('d2h_2_default', false);"><span
    aria-label="ordre creixent" aria-hidden="true"
    ng-class="{d2h_sortActivated: predicate=='d2h_2_default' && !reverse}"
    class="glyphicon glyphicon-sort-by-alphabet"></span></a><a
    title="ordre invers"
    ng-click="sortBy('d2h_2_default', true);"><span
    aria-label="ordre invers" aria-hidden="true"
    ng-class="{d2h_sortActivated: predicate=='d2h_2_default' && reverse}"
    aria-hidden="true"
    class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a></th>

<!-- END  "../code/templates/angular1/tables/heads/sortable.html.php" ]] -->

<!-- START "../code/templates/angular1/tables/heads/sortable.html.php" [[ -->
<!-- ======================================== -->

<th>Descripció <a
    title="ordre creixent"
    ng-click="sortBy('description', false);"><span
    aria-label="ordre creixent" aria-hidden="true"
    ng-class="{d2h_sortActivated: predicate=='description' && !reverse}"
    class="glyphicon glyphicon-sort-by-alphabet"></span></a><a
    title="ordre invers"
    ng-click="sortBy('description', true);"><span
    aria-label="ordre invers" aria-hidden="true"
    ng-class="{d2h_sortActivated: predicate=='description' && reverse}"
    aria-hidden="true"
    class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a></th>

<!-- END  "../code/templates/angular1/tables/heads/sortable.html.php" ]] -->

<!-- START "../code/templates/angular1/tables/heads/sortable.html.php" [[ -->
<!-- ======================================== -->

<th>Moviment <a
    title="ordre creixent"
    ng-click="sortBy('d2h_3_default', false);"><span
    aria-label="ordre creixent" aria-hidden="true"
    ng-class="{d2h_sortActivated: predicate=='d2h_3_default' && !reverse}"
    class="glyphicon glyphicon-sort-by-alphabet"></span></a><a
    title="ordre invers"
    ng-click="sortBy('d2h_3_default', true);"><span
    aria-label="ordre invers" aria-hidden="true"
    ng-class="{d2h_sortActivated: predicate=='d2h_3_default' && reverse}"
    aria-hidden="true"
    class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a></th>

<!-- END  "../code/templates/angular1/tables/heads/sortable.html.php" ]] -->

<!-- START "../code/templates/angular1/tables/heads/sortable.html.php" [[ -->
<!-- ======================================== -->

<th>quantity <a
    title="ordre creixent"
    ng-click="sortBy('quantity', false);"><span
    aria-label="ordre creixent" aria-hidden="true"
    ng-class="{d2h_sortActivated: predicate=='quantity' && !reverse}"
    class="glyphicon glyphicon-sort-by-alphabet"></span></a><a
    title="ordre invers"
    ng-click="sortBy('quantity', true);"><span
    aria-label="ordre invers" aria-hidden="true"
    ng-class="{d2h_sortActivated: predicate=='quantity' && reverse}"
    aria-hidden="true"
    class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a></th>

<!-- END  "../code/templates/angular1/tables/heads/sortable.html.php" ]] -->

<!-- START "../code/templates/angular1/tables/heads/sortable.html.php" [[ -->
<!-- ======================================== -->

<th>balance <a
    title="ordre creixent"
    ng-click="sortBy('balance', false);"><span
    aria-label="ordre creixent" aria-hidden="true"
    ng-class="{d2h_sortActivated: predicate=='balance' && !reverse}"
    class="glyphicon glyphicon-sort-by-alphabet"></span></a><a
    title="ordre invers"
    ng-click="sortBy('balance', true);"><span
    aria-label="ordre invers" aria-hidden="true"
    ng-class="{d2h_sortActivated: predicate=='balance' && reverse}"
    aria-hidden="true"
    class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a></th>

<!-- END  "../code/templates/angular1/tables/heads/sortable.html.php" ]] -->

<!-- START "../code/templates/angular1/tables/heads/sortable.html.php" [[ -->
<!-- ======================================== -->

<th>Nom UF <a
    title="ordre creixent"
    ng-click="sortBy('account_uf_id_name', false);"><span
    aria-label="ordre creixent" aria-hidden="true"
    ng-class="{d2h_sortActivated: predicate=='account_uf_id_name' && !reverse}"
    class="glyphicon glyphicon-sort-by-alphabet"></span></a><a
    title="ordre invers"
    ng-click="sortBy('account_uf_id_name', true);"><span
    aria-label="ordre invers" aria-hidden="true"
    ng-class="{d2h_sortActivated: predicate=='account_uf_id_name' && reverse}"
    aria-hidden="true"
    class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a></th>

<!-- END  "../code/templates/angular1/tables/heads/sortable.html.php" ]] -->

<!-- START "../code/templates/angular1/tables/heads/sortable.html.php" [[ -->
<!-- ======================================== -->

<th>account_uf_id_value <a
    title="ordre creixent"
    ng-click="sortBy('account_uf_id_value', false);"><span
    aria-label="ordre creixent" aria-hidden="true"
    ng-class="{d2h_sortActivated: predicate=='account_uf_id_value' && !reverse}"
    class="glyphicon glyphicon-sort-by-alphabet"></span></a><a
    title="ordre invers"
    ng-click="sortBy('account_uf_id_value', true);"><span
    aria-label="ordre invers" aria-hidden="true"
    ng-class="{d2h_sortActivated: predicate=='account_uf_id_value' && reverse}"
    aria-hidden="true"
    class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a></th>

<!-- END  "../code/templates/angular1/tables/heads/sortable.html.php" ]] -->

            </tr></thead>
            <tfoot ng-show="filtered.length > 0" ng-cloak><tr>
                <td colspan="9">
                    
<!-- START "../code/templates/angular1/forms/page.html.php" [[ -->
<!-- ======================================== -->

<div class="row" ng-controller="d2h_2">
    <form name="d2h_2" class="simple-form"  novalidate>
        <div class="form-inline">
<!-- START "../code/templates/angular1/forms/layouts/none.html.php" [[ -->
<!-- ======================================== -->


<!-- START "../code/templates/angular1/forms/inputs/button.html.php" [[ -->
<!-- ======================================== -->

<button class="btn btn-default hidden-xs "
    title="$$Refres&gt;&quot;hàdata"
    ng-click="readPage()">
    <span class="glyphicon glyphicon-refresh"
        aria-label="$$Refres&gt;&quot;hàdata"
        aria-hidden="true"></span>
    <span class="hidden-xs hidden-sm"></span>
</button>
<!-- END  "../code/templates/angular1/forms/inputs/button.html.php" ]] -->


<!-- END  "../code/templates/angular1/forms/layouts/none.html.php" ]] -->

<!-- START "../code/templates/angular1/forms/layouts/inline.html.php" [[ -->
<!-- ======================================== -->

<label class="col-md-3 form-group" 
    ng-class="{'has-error': d2h_2.d2h_4.$invalid}"
>:

<!-- START "../code/templates/angular1/forms/inputs/text.html.php" [[ -->
<!-- ======================================== -->

<input type="text" class="form-control" 
    ng-model="d2h_page.pageSize"
    ng-change="changed()"
    ng-model-options="{ debounce: 500 }"
    placeholder=""
    name="d2h_4"
    
>

<!-- END  "../code/templates/angular1/forms/inputs/text.html.php" ]] -->

</label>

<!-- END  "../code/templates/angular1/forms/layouts/inline.html.php" ]] -->

<!-- START "../code/templates/angular1/forms/layouts/none.html.php" [[ -->
<!-- ======================================== -->


<!-- START "../code/templates/angular1/forms/inputs/button.html.php" [[ -->
<!-- ======================================== -->

<button class="btn btn-default hidden-xs "
    title="$$Ne.&gt;xtàpage"
    ng-click="nextPage()">
    <span class="glyphicon glyphicon-forward"
        aria-label="$$Ne.&gt;xtàpage"
        aria-hidden="true"></span>
    <span class="hidden-xs hidden-sm"></span>
</button>
<!-- END  "../code/templates/angular1/forms/inputs/button.html.php" ]] -->


<!-- END  "../code/templates/angular1/forms/layouts/none.html.php" ]] -->
</div>
    </form>
    <span ng-init="start()" ng-cloak>
        Filtered {{filtered.length}} of {{data.length}}
    </span>
</div>

<!-- END  "../code/templates/angular1/forms/page.html.php" ]] -->

                </td>
            </tr></tfoot>
            <tbody 
                ng-show="filtered.length > 0" ng-cloak><tr 
                    ng-repeat="item in filtered = (data | filter:search | orderBy :predicate :reverse)">
                
<!-- START "../code/templates/angular1/tables/cells/default.html.php" [[ -->
<!-- ======================================== -->

<td ng-class="" class="">{{item.ts | date:'dd-MM-yy HH:mm'}}</td>

<!-- END  "../code/templates/angular1/tables/cells/default.html.php" ]] -->

<!-- START "../code/templates/angular1/tables/cells/default.html.php" [[ -->
<!-- ======================================== -->

<td ng-class="" class="">{{item.d2h_1_default}}</td>

<!-- END  "../code/templates/angular1/tables/cells/default.html.php" ]] -->

<!-- START "../code/templates/angular1/tables/cells/default.html.php" [[ -->
<!-- ======================================== -->

<td ng-class="" class="">{{item.d2h_2_default}}</td>

<!-- END  "../code/templates/angular1/tables/cells/default.html.php" ]] -->

<!-- START "../code/templates/angular1/tables/cells/default.html.php" [[ -->
<!-- ======================================== -->

<td ng-class="" class="">{{item.description}}</td>

<!-- END  "../code/templates/angular1/tables/cells/default.html.php" ]] -->

<!-- START "../code/templates/angular1/tables/cells/default.html.php" [[ -->
<!-- ======================================== -->

<td ng-class="" class="">{{item.d2h_3_default}}</td>

<!-- END  "../code/templates/angular1/tables/cells/default.html.php" ]] -->

<!-- START "../code/templates/angular1/tables/cells/default.html.php" [[ -->
<!-- ======================================== -->

<td ng-class="{red:item.quantity&lt;0}" class="text-right">{{item.quantity | number:'2'}}</td>

<!-- END  "../code/templates/angular1/tables/cells/default.html.php" ]] -->

<!-- START "../code/templates/angular1/tables/cells/default.html.php" [[ -->
<!-- ======================================== -->

<td ng-class="{red:item.balance&lt;0}" class="text-right">{{item.balance | currency}}</td>

<!-- END  "../code/templates/angular1/tables/cells/default.html.php" ]] -->

<!-- START "../code/templates/angular1/tables/cells/default.html.php" [[ -->
<!-- ======================================== -->

<td ng-class="" class="">{{item.account_uf_id_name}}</td>

<!-- END  "../code/templates/angular1/tables/cells/default.html.php" ]] -->

<!-- START "../code/templates/angular1/tables/cells/default.html.php" [[ -->
<!-- ======================================== -->

<td ng-class="" class="text-right">{{item.account_uf_id_value}}</td>

<!-- END  "../code/templates/angular1/tables/cells/default.html.php" ]] -->

            </tr></tbody>
        </table>
        <div class="alert alert-warning" role="alert"
            ng-show="filtered.length == 0"
        ng-cloak>
            No data found
        </div>
    </div>
</div>
<span ng-init="start()"></span>
</div>
<!-- END  "../code/templates/angular1/tables/paged.html.php" ]] -->

                
<script>
// START "../code/templates/angular1/tables/paged.js" [[
// ========================================
var d2h_gridPagedCtr = function($scope, $http, pageDefaults, filterDefaults) {
    var vRender_urlRequest = "_controller.php?model=aixada_accounts:default&" + 'lang=ca';
    $scope.d2h_filter = filterDefaults();
    $scope.d2h_sort = 'account_id';
    $scope.d2h_page = pageDefaults();
    
    // server
    var _req = function() {
        return {
            method: 'POST',
            url: vRender_urlRequest,
            headers: {
                'Content-Type': undefined
            },
            data: {
                d2h_oper: 'read',
                d2h_filter: $scope.d2h_filter,
                d2h_sort: $scope.d2h_sort,
                d2h_page: $scope.d2h_page
            }
        };
    };
    
    $scope.readPage = function() {
        $scope.d2h_page.pageStart = 1; //current page
        $http(_req()).then(
            function(response) { // Ok
                $scope.data = response.data.rows;
                // $scope.status = response.status;
            }, function(response) { // Error
                // $scope.data = response.data || "Request failed";
                // $scope.status = response.status;
                console.log("IRROR");
            }
        );
    };
    $scope.nextPage = function() {
        $scope.d2h_page.pageStart = 
            parseInt($scope.d2h_page.pageStart, 10) +
            parseInt($scope.d2h_page.pageSize, 10);
        $http(_req()).then(
            function(response) { // Ok
                Array.prototype.push.apply(
                    $scope.data,
                    response.data.rows
                );
            }, function(response) { // Error
                console.log("IRROR");
            }
        );
    };
    $scope.sortBy = function(predicate, reverse) {
        $scope.predicate = predicate;
        $scope.reverse = reverse;
    };
    $scope.start = function() {
        $scope.readPage();
       //$scope.sortBy('id', true);
    };
};
d2h_App.controller("d2h_1", [
    '$scope', '$http',
    "d2h_2" + '_defaults',
    "d2h_6" + '_defaults',
    d2h_gridPagedCtr
]);
// END  "../code/templates/angular1/tables/paged.js" ]]

// START "../code/templates/angular1/forms/filter.js.php" [[
// ========================================

d2h_App.controller("d2h_6", ['$scope', function($scope) {
    $scope.changed = function() {
        $scope.readPage();
    };
}]);
d2h_App.factory("d2h_6" + '_defaults', [function() {
    return function() {
        return {"account_uf_id_EQ":1005};
    };
}]);

// END  "../code/templates/angular1/forms/filter.js.php" ]]

// START "../code/templates/angular1/forms/inputs/ui-select.js.php" [[
// ========================================

d2h_App.controller('d2h_7', function($scope, $http) {
    $scope.item = {};
    $http({
        method: 'POST',
        url: '_controller.php?model=aixada_ufs:account&lang=ca',
        headers: {
            'Content-Type': undefined
        },
        data: {d2h_oper: 'read'}
    }).then(
        function(response) { // Ok
            $scope.data = response.data.rows;
        }, function(response) { // Error
            console.log(response.status);
        }
    );
});
// END  "../code/templates/angular1/forms/inputs/ui-select.js.php" ]]

// START "../code/templates/angular1/forms/page.js.php" [[
// ========================================

d2h_App.controller('d2h_2', ['$scope', function ($scope) {
    $scope.changed = function() {
        $scope.readPage();
    };
}]);
d2h_App.factory('d2h_2_defaults', [function() {
    return function() {
        return {"pageSize":10};
    };
}]);

// END  "../code/templates/angular1/forms/page.js.php" ]]
</script>    </div>
</body>
</html>
