<div class="row" ng-controller="$${id}">
    <form name="$${id}" class="simple-form" xx-class="form-horizontal"  novalidate>
    <div>
        <div class="col-md-3">$$Filter:
            <input type="text" placeholder="Filter" 
                class="form-control" 
                ng-model="search"
                required
            />
        </div>
        $${body}
        <span class="col-md-1 form-group">
            <br>
            <button class="btn btn-default"
                title="$$Clear filter"
                ng-click="clear()"
            >
                <span class="glyphicon glyphicon-remove"
                    aria-hidden="true"></span>
                <!-- span class="hidden-xs hidden-sm">$$Clear filter</span -->
            </button>
        </span>
    </div>
    </form>
    <div>$$Vallid {{$${id}.$valid}}</div>
</div>
<script>
    d2h_App.controller('$${id}', ['$scope', function($scope) {
        $scope.clear = function() {
            $scope.d2h_filter={};
        };
        $scope.changed = function() {
            $scope.readPage();
        };
    }]);
    d2h_App.factory('$${id}_defaults', [function() {
        return function() {
            return $${defaults};
        };
    }]);
</script>

