<div class="row" ng-controller="$${id}">
    <form name="$${id}" class="simple-form"  novalidate>
        <div class="form-inline">$${body}</div>
    </form>
    <span ng-init="start()" ng-cloak>
        Filtered {{filtered.length}} of {{data.length}}
    </span>
</div>
<script>
    d2h_App.controller('$${id}', ['$scope', function ($scope) {
        var pageSizes = [10, 11, 20, 50, 100];
        $scope.pageSizeOp = [];
        $scope.pageSize = 11;
        for (i = 0, len = pageSizes.length; i < len; i++) {
            $scope.pageSizeOp.push({
                value: pageSizes[i],
                'text': pageSizes[i]+''
            });
        }
        $scope.changed = function() {
            $scope.readPage();
        };
    }]);
</script>