.d2h-success {
    color: #3c763d;
    background-color: #dff0d8;
    opacity: 0.8;
    border-width: 0;
    padding: 3px;
    width: 200px;
}
.d2h-success .popper__arrow {
    border-color: #ccc;
}

.d2h-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    opacity: 0.8;
    border-width: 0;
    padding: 3px;
    width: 200px;
}
.d2h-warning .popper__arrow {
    border-color: #ccc;
}

.d2h-danger {
    color: #a94442;
    background-color: #f2dede;
    opacity: 0.8;
    border-width: 0;
    padding: 3px;
    width: 200px;
}
.d2h-danger .popper__arrow {
    border-color: #ccc;
}

.d2h-info {
    color: #31708f;
    background-color: #d9edf7;
    opacity: 0.8;
    border-width: 0;
    padding: 3px;
    width: 200px;
}
.d2h-info .popper__arrow {
    border-color: #ccc;
}