<div id="$${_id}" class="ui-widget">
    <div class="ui-widget-content ui-corner-all">
        <h3 class="ui-widget-header ui-corner-all">
            <span style="color:#777">$${_title} tableNav</span>
            <span id="$${_id}_h3">{account}</span>
            <span class="d2h_waiting" 
                    style="display:none; float:right; margin-top:-4px;">
                <img src="img/ajax-loader.gif"/>
            </span>
        </h3>
        <table class="tblListingDefault">
            <thead>$${_thead}</thead>
            <tbody id="$${_id}_tbody">$${_tbody}</tbody>
            <tfoot>
                <tr><td colspan="2"></td></tr>
            </tfoot>
        </table>
    </div>
</div>
<script>
    var p_currency_sign = "€",
        p_msg_err_nomovements = "p_msg_err_nomovements";
    $("#$${_id}")
    .data2html("init",{
        url:        "account_controller.php",
        loadOnInit: true,
        pageSize : 20,
        rowComplete : function (rowIndex, row){
           //$.formatQuantity(row, p_currency_sign);
        },
        complete : function(rowCount){
            $("#$${_id} .loadSpinner").hide();
            if ($("#$${_id} table tbody tr").length == 0 &&
                    p_msg_err_nomovements){
                $.showMsg({
                    msg: p_msg_err_nomovements,
                    type: "warning"
                });
            } else {
                $("#$${_id} table tbody tr:odd").addClass("rowHighlight"); 
            }
        }
    })
    .data2html("load");
</script>