<div class="form-inline" ng-controller="$${id}">
    <button class="btn btn-default hidden-xs "
        title="$$Refresh data"
        ng-click="readPage()"
    >
        <span class="glyphicon glyphicon-refresh"
            aria-label="$$Refresh data"
            aria-hidden="true"></span>
    </button>
    <select class="form-control" style="padding:0;"
        title="$$Rows per page"
        ng-model="d2h_page.pageSize"
        ng-init="d2h_page.pageSize=pageSizeOp[0].value"
        ng-change="readPage()"
        ng-options="opt.value as opt.text for opt in pageSizeOp"
    ></select>
    <button class="btn btn-default"
        title="$$Next page"
        ng-click="nextPage()"
    >
        <span class="glyphicon glyphicon-forward"
            aria-hidden="true"></span>
        <span class="hidden-xs hidden-sm">$$Next page</span>
    </button>
    <span ng-cloak>$$Filtered {{filtered.length}} of {{data.length}}</span>
</div>
<script>
    d2h_App.controller('$${id}', function ($scope, $http) {
        var pageSizes = [10, 20, 50, 100];
        $scope.pageSizeOp = [];
        for (i = 0, len = pageSizes.length; i < len; i++) {
            $scope.pageSizeOp.push({
                value: pageSizes[i],
                'text': pageSizes[i]+''
            });
        }
    });
</script>