<div class="row" ng-controller="$${id}">
    <form name="$${id}" class="simple-form"  novalidate>
        <div>$${body}</div>
    </form>
</div>
<script>
    d2h_App.controller('$${id}', ['$scope', function ($scope) {
        var pageSizes = [10, 20, 50, 100];
        $scope.pageSizeOp = [];
        for (i = 0, len = pageSizes.length; i < len; i++) {
            $scope.pageSizeOp.push({
                value: pageSizes[i],
                'text': pageSizes[i]+''
            });
        }
        $scope.changed = function() {
            $scope.readPage();
        };
    }]);
</script>