<div class="row">
    <div class="col-md-12" id="$${id}"
    >
        <h3>$${title}</h3>
        <table class="table table-striped table-bordered">
            <thead><tr>
                $${thead}
            </tr></thead>
            <tfoot ng-show="filtered.length > 0" ng-cloak><tr>
                <td colspan="$${colCount}">
                    <div class="form-inline">
                        <button class="btn btn-default hidden-xs "
                            title="Refresh data"
                            ng-click="initialPage()"
                        >
                            <span class="glyphicon glyphicon-refresh"
                                aria-label="Refresh data"
                                aria-hidden="true"></span>
                        </button>
                        <select class="form-control" style="padding:0;"
                            title="Rows per page"
                            ng-model="pageSize"
                            ng-init="pageSize=pageSizeOp[0].value"
                            ng-change="initialPage()"
                            ng-options="opt.value as opt.text for opt in pageSizeOp"
                        ></select>
                        <button class="btn btn-default"
                            title="Next page"
                            ng-click="nextPage()"
                        >
                            <span class="glyphicon glyphicon-forward"
                                aria-hidden="true"></span>
                            <span class="hidden-xs hidden-sm">
                                Next page
                            </span>
                        </button>
                        <span
                            ng-init="start()"
                        ng-cloak>
                            Filtered {{filtered.length}} of {{list.length}}
                        </span>
                    </div>
                </td>
                </tr></tfoot>
            <tbody ng-show="filtered.length > 0" ng-cloak><tr 
                   ng-repeat="item in filtered = (list | filter:search | orderBy :predicate :reverse)">
                $${tbody}
            </tr></tbody>
        </table>
        <div
        class="alert alert-warning" role="alert"
        ng-show="filtered.length == 0" ng-cloak>
            No data found
        </div>
    </div>
</div>
<script>
    d2h_local['$${id}'] = $${d2h_localJs};
</script>
